[Unit]
Description=Your Node.js Application
After=network.target 
 
[Service]
Type=simple
User=csye6225
Group=csye6225
ExecStartPre= sh /opt/webapp/startup.sh
ExecStart= /usr/bin/node /opt/webapp/server/index.js
Restart=always
WorkingDirectory=/opt/webapp/
RestartSec=50
 
[Install]
WantedBy=multi-user.target